.main {
  min-width: 400px;
  width: clamp(400px, 100vw, 800px);
  margin: auto;
}

.footer {
  min-width: 400px;
  background-color: var(--mantine-color-gray-3);
  overflow: auto;
}

.header {
  min-width: 400px;
  padding-top: var(--mantine-spacing-md);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), transparent);
}

.tabsList {
  &::before {
    display: none;
  }
}

.tab {
  transition: all 0.2s ease;
  background-color: transparent;
  position: relative;
  bottom: -4px;

  &::before,
  &::after {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-7)
    ) !important;
  }

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-5)
    );
  }

  &[data-active] {
    font-weight: 700;
    border-bottom-color: transparent;
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-7)
    );
    border-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-7)
    );
  }
}
