.base {
  --stepper-color: var(--mantine-color-green-7);
  .mantine-Stepper-stepIcon {
    transition: all 0.3s ease;
  }
  .mantine-Stepper-step {
    &[data-progress] {
      transform: scale(1.05);
    }
  }

  .mantine-Stepper-separator {
    transition: all 0.3s ease;
  }

  .mantine-Stepper-stepDescription {
    max-width: 100px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20;
  min-height: 400px;
}
